html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* Estilo para los botones del formulario */
.btn-primary {
    background-color: #2c3e50; /* Un color oscuro tipo Terraria */
    border-color: #34495e;
    padding: 10px 20px;
}

/* Estilo para las cajas de texto */
.form-control {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 8px;
}
/* --- Estilos para la página de Inicio --- */
.home-container {
    margin-top: 10vh;
    text-align: center;
}

.titulo-bestiario {
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Botón gigante personalizado */
.btn-bestiario {
    background-color: #27ae60; /* Un verde llamativo */
    color: white;
    padding: 15px 40px;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: inline-block;
}

    .btn-bestiario:hover {
        background-color: #2ecc71; /* Verde más claro al pasar el mouse */
        color: white;
        transform: translateY(-2px); /* Pequeño salto hacia arriba */
        box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    }