@{
    ViewData["Title"] = "Inicio";
}

<div class="home-container">
    <h1 class="display-4 titulo-bestiario">¡Bienvenido al Bestiario!</h1>
    <p class="lead">Administra las criaturas, biomas y rarezas de tu mundo.</p>

    <a asp-controller="Criaturas" asp-action="Index" class="btn-bestiario mt-4">
        Entrar al Sistema de Criaturas
    </a>
</div>