@model proyectojcortes.Models.Registro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Registro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriaturaId" class="control-label"></label>
                <input asp-for="CriaturaId" class="form-control" />
                <span asp-validation-for="CriaturaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDerrotas" class="control-label"></label>
                <input asp-for="CantidadDerrotas" class="form-control" />
                <span asp-validation-for="CantidadDerrotas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstaDerrotado" class="control-label"></label>
                <input asp-for="EstaDerrotado" class="form-check-input" />
                <span asp-validation-for="EstaDerrotado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Criatura" class="control-label"></label>
                <input asp-for="Criatura" class="form-control" />
                <span asp-validation-for="Criatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
